# Payment Service
PAYMENT_SERVICE_URL=https://payment.masumi.network/api/v1
# TODO: sync the following...
PAYMENT_API_KEY=iofsnaiojdoiewqajdriknjonasfoinasd

MODEL=gpt-4o
OPENAI_API_KEY=xxx
GEMINI_API_KEY=xxx

# For DEMO purposes, we allowlist the following buckets and stacks..
# For big buckets it will fail because the LLM doesn't have enough context.. One of the limitation!
ALLOWLISTED_BUCKETS='skyline-subhmx-iad,abcd-1234-bucket,efgh-5678-bucket'
ALLOWLISTED_STACKS='infra-local,alpha-us-east-1-Assets-Stack'


# Agent Configuration (after you register the agent)
AGENT_IDENTIFIER=0c2912d4088fbc6a0c725dbe5233735821109bd741acfa9f13902302e43caa49b60c3019d546b4062302a09ea8a06b5999daf8afa3987340240541c9
PAYMENT_AMOUNT=10000000
PAYMENT_UNIT=lovelace
SELLER_VKEY=f9455f8373a0f538b62202ef6ebca46018874330a9ab8e0278cfcfee

# To store the super.json
S3_ENDPOINT='xxx'
S3_ACCESS_KEY='xxx'
S3_SECRET_KEY='xxx'

